<h2>Edit Comment</h2>

<form action="/comments/<%=@comment.id%>" method="post">
    <input value="patch" id="hidden" type="hidden" name="_method">
    <input type="text" name="content" value="<%=@comment.text%>">
    <input type="submit" value="submit">
</form>