<% if logged_in? %>
    <br>

    "<%= @comment.text if @comment %>"


    <br>
    <br>


    <a href="/comments/<%=@comment.id%>/edit">Edit</a>


    <br>
    <br>


    <form action="/comments/<%=@comment.id%>/delete" method="post">
        <input value="delete" id="hidden" type="hidden" name="_method">
        <input type="submit" value="Delete">
    </form>
    
    <% else %>
        Please log in first!
<% end %>