<p>Thanks for viewing this app! The data behind it comes from the below resources.</p>

<br>

<h4>U.S. Securities and Exchange Commission</h4>
<p>EDGAR, the Electronic Data Gathering, Analysis, and Retrieval system</p>
<p>Documentation: https://www.sec.gov/os/accessing-edgar-data</p>

<br>

<p>EDGAR Submissions History by Company</p>
<p>URI Sample: https://data.sec.gov/submissions/CIK0000320193.json</p>

<br>

<p>Browsable Directories</p>
<p>URI Sample: https://www.sec.gov/Archives/edgar/data/51143/000156218022003079/primarydocument.xml</p>

<br>

<p>Companies Associated with the SEC</p>
<p>URI: https://www.sec.gov/files/company_tickers.json</p>