<h1>Welcome to MAANG Employers Audit.</h1>
<p id="n">(n).</p>
<p id="intro">A web application that leverages the SEC Form filings history of MAANG companies' activities for prospective employment research.</p>


<br>
<br>
