<!DOCTYPE html>
<html>

  <head>
    <title>Audit Top Tech Companies</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/css/style.css') %>" />
  </head>

  <body>
    <nav>
      <div>
        <% if !logged_in? %>
          <a href="/signup">Create Account</a> | <a href="/login">Login</a> | <a href="/data">Data Sources</a>
        <% else %>
          <a href="/">About</a> | <a href="/data">Data Sources</a> | <a href="/companies">MAANG Companies Search</a> | <a href="/logout">Logout</a>
        <% end %>
      </div>
    </nav>

    <br>

    <% if current_user %>
      Hi, <%= current_user.username %> ~
    <% end %>


    <br>
    <br>
    

    <%= yield %>
  </body>

</html>